body{
    font-family: Arial, Helvetica, sans-serif
}

.bgcolor{
    background-color: rgba(160,209,120,255);
}

.border-bottom{
    border-bottom: 1px solid rgba(0,0,0,0.8);
}

.classtext{
    
    font-family: 'Courier Prime', monospace;
}

.Fotoanasayfa{
 border-radius: 80%;
}

.classtext2{
    font-family: 'Caveat', cursive;
}

.textbold{
    font-size: larger;
    text-align: center;
}

.textboldsb{
    font-size: x-large;
    text-align: center;
    color: brown;
}

.textboldli{
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}

.textboldikib{
    font-size: larger;
    text-align: center;
    color: green;
}

.bestab{
    font-size: xx-large;
    color: green;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    
}